.card{
  width: 90%;
  border: 1px solid #d2cdcd;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.round-img{
  border-radius: 100%;
  border: 1px solid black;
}

h3{
  line-height: 2;
}

.btn{
  background: #534747;
  color: white;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  display: block;
}