.form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 2rem;
  border: 1px solid black;
  width: 500px;

  input{
    border: none;
    outline: none;
  }

  input[type=text]{
    width: 100%;
    padding-left: 0.5rem;
  }


}

.clear-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  button{
    width: 54%;
    padding: 0.3rem 0;
    cursor: pointer;
  }
}

